{% extends 'AppClientBundle::Base.html.twig' %}

{% block content %}
    <h4>{{ 'CREATE_CONTACT' | trans }}</h4>
    <br />
    {% embed 'AppAdminBundle:Component:form_basic.html.twig' with {'form': form} %}

    {% endembed %}
{% endblock %}